* {
    font-size: 32px;
    margin: 16px;
    padding: 0px;
}


.header {
    position: fixed;
    width: 92.5%;
    /*border: red solid 1px;*/
    color: rgb(255, 255, 255);
    text-shadow: black 5px 5px 7.5px;
    background-color: rgba(29, 144, 83, 0.75);
    backdrop-filter: blur(7.5px);
    border-radius: 32px;
    margin: 48px;
    padding: 8px;
    box-shadow: 0px 1px 1px rgba(29, 144, 83, 0.03),
        0px 5px 4px rgba(29, 144, 83, 0.06),
        0px 12px 9px rgba(29, 144, 83, 0.09),
        0px 20px 16px rgba(29, 144, 83, 0.12),
        0px 32px 25px rgba(29, 144, 83, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    z-index: 999;
    transition: all 500ms ease-in-out;
}

.menü-headline {
    /*border: red solid solid 1px;*/
    font-size: 48px;
}

.menü {
    /*border: orange solid 1px;*/
    display: flex;
}

.menü-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.35);
    margin: 8px;
    transition: all 0.25s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 16px;
}

.menü-link:hover {
    background-color: rgba(199, 199, 199, 0.7);
    transform: scale(1.1);
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    cursor: pointer;
}

.menü-link:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


.bundesliga {
    /*border: red solid solid 1px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.heimspiel {
    /*border: green solid 1px;*/
    border-radius: 16px;
    margin: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-image: url(assets/bg2222.png);
    background-size: 264px;
    box-shadow: 0px 1px 0px rgba(2, 125, 69, 0.03),
        0px 2px 2px rgba(2, 125, 69, 0.05),
        0px 5px 4px rgba(2, 125, 69, 0.08),
        0px 8px 8px rgba(2, 125, 69, 0.10),
        0px 13px 12px rgba(2, 125, 69, 0.13),
        0px 18px 17px rgba(2, 125, 69, 0.15),
        0px 25px 24px rgba(2, 125, 69, 0.18),
        0px 32px 31px rgba(2, 125, 69, 0.20);

}


.heimspiel-schriftart {
    font: white;
    display: flex;
    align-items: center;
}

.auswärtsspiel {
    /*border: blue solid 1px;*/
    border-radius: 16px;
    margin: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(180deg, #1c4541, #167976);
    background: linear-gradient(180deg, #1c4541, #167976);
    box-shadow: 0px 13px 12px rgba(16, 106, 106, 0.13),
        0px 18px 17px rgba(16, 106, 106, 0.15),
        0px 25px 24px rgba(16, 106, 106, 0.18),
        0px 32px 31px rgba(16, 106, 106, 0.20);
}

.auswärtsspiel-schriftart {
    font: white;
}

.daten {
    /*border: red solid solid 1px;*/
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.month {
    /*border: red solid solid 1px;*/
    border-radius: 16px;
    padding: 24px;
    margin: 32px;

    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container-countdown {
    /*border: red solid solid 1px;*/
    border-radius: 16px;
    background-color: rgb(29, 144, 83);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: 48px;
    margin-right: 48px;
    color: rgb(29, 144, 83);

    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.timebox {
    /*border: rgb(0, 255, 0) solid 1px;*/
    border-radius: 16px;
    display: flex;
    flex-direction: row;
}

.time {
    /*border: blue solid 1px;*/
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    margin: 32px;
    gap: 8px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
    width: 48px;
}

.logo-ersatz-hsv {
    width: 64px;
}

.logo-ersatz-rbl {
    width: 24px;
}






/* Animierter Hintergrund (nicht anfassen) */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


/* Handy Format */
@media(max-width: 600px) {
    .container-countdown {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        font-size: 32px;
    }

    .timebox {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .time {
        display: flex;
        padding: 8px;
        margin: 24px;
    }

    .logo {
        width: 32px;
    }

    .logo-ersatz-hsv {
        width: 48px;
    }

    .logo-ersatz-rbl {
        width: 16px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 64px);
        margin: 8px;
        padding: 8px;
        gap: 16px;
    }

    .menü-headline {
        font-size: 28px;
        text-align: center;
        margin: 0 0 8px 0;
    }

    .menü {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 8px;
    }

    .menü-link {
        font-size: 18px;
        margin: 0;
    }


}

/* Scroll Bar */
.scroll-down .header {
    transform: translate3d(0, -500px, 0);
}

.scroll-up .header {
    filter: drop-shadow(0 -10px 20px rgb(180, 180, 180));
}