* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: auto;
}

.header-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(4px);
}


.header {
    z-index: 2;
}

.main-background {
    display: none;
}

body {
    margin: 0px;

}

.header {
    position: absolute;
    top: 16px;
    left: 32px;
    right: 32px;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 16px;
    z-index: 1;
    /*border: red solid 2px;*/
    background-color: rgba(50, 70, 156, 0.75);
    border-radius: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.menu {
    display: flex;
}


.map-container {
    position: absolute;
    padding: 32px;
    margin-top: 150px;
    z-index: 0;
    border: rgba(128, 128, 128, 0.25) solid 0.01px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);

    margin-left: 32px;
}

.menü-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.35);
    margin: 8px;
    transition: all 0.25s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 16px;
}

.menü-link:hover {
    background-color: rgba(199, 199, 199, 0.7);
    transform: scale(1.1);
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    cursor: pointer;
}

.menü-link:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


.menü-headline {
    font-size: 32px;
    color: #ffffff !important;
    mix-blend-mode: normal;
    padding-left: 24px;
}

.greetings {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 150px;
    padding: 24px;
    left: 0px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
    background-color: rgba(50, 70, 156, 0.75);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.greetings2 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 150px;
    padding: 24px;
    left: 1000px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
    background-color: rgba(50, 70, 156, 0.75);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nummer1 {
    position: absolute;
    left: 50px;
    top: 500px;
    font-size: 70px;
    color: white;
    width: 550px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.gold {
    color: gold;
}

.subtitle {
    position: absolute;
}

.anfahrt {
    border: rgb(128, 128, 128, 0.25) solid 0.01px;
    border-radius: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
    margin: 32px;
    padding: 16px;
    font-size: 48px;
}

.feedback-container {
    position: absolute;
    font-size: 32px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.feedback-1 {
    /*border: rgb(0, 0, 0) solid 0.01px;*/
    border-radius: 32px;
    background-color: rgb(245, 245, 245);
    width: 500px;
    margin: 48px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
}

.feedback-1-images {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.feedback-2 {
    /*border: rgb(0, 0, 0) solid 0.01px;*/
    border-radius: 32px;
    background-color: rgb(245, 245, 245);
    width: 500px;
    margin: 48px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
        0px 5px 4px rgba(3, 7, 18, 0.04),
        0px 12px 9px rgba(3, 7, 18, 0.06),
        0px 20px 16px rgba(3, 7, 18, 0.08),
        0px 32px 25px rgba(3, 7, 18, 0.10);
}

.feedback-2-images {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.form-group {
    border-radius: 16px;
    font-size: 32px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    gap: 8px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}



.contact-form {
    border-radius: 16px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 32px;
    padding: 32px;
    gap: 32px;
    top: 178px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#name,
#email,
#subject,
#message {
    height: 48px;
    font-size: 24px;
    border-radius: 8px;    
}

#message {
    height: 150px
}

#submit {
    font-size: 32px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.25s ease-in-out;

}

#submit:hover {
    background-color: rgba(199, 199, 199, 0.7);
    transform: scale(1.05);
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    cursor: pointer;
}

#submit:active {
    transform: scale(0.99);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Handy Layout */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menü-headline {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .menu {
        order: 2;
        width: 100%;
        justify-content: center;
        margin-top: 8px;
        max-width: 500px;
    }

    .greetings {
        order: 3;
        position: static;
        margin-top: 8px;
        text-align: center;
        margin-left: 8px;
    }

    .contact-form{
        order: 4;
        margin-top: 100px;
    }
}